# Environments
.env
env
env/
venv/
ENV/
env.bak/
venv.bak/
*.log
*.pyc
*.clip
script/__pycache__/PublicFunc.cpython-310.pyc
DataTide_ai/Predict_AI/sales/compare_sales.csv
DataTide_ai/Predict_AI/sales/test_1.py
